<meta name="viewport" content="width=device-width, initial-scale=1.0">

<div id="landing">
    <section id="concepto">
        <div>
            <img src="https://i.ibb.co/VV2q4KR/portada-principal-bien.gif" alt="imagen concepto" class="d-block">
            <button class="btn-landing btn-forma btn-color" routerLink="/register-form">Impulsar mi futuro</button>
        </div>
        <br>
        <h1>Un nuevo concepto de educación.</h1>
    </section>
</div>
<div>
    <section id="recomendamos">
        <h2 class="littleTitle">Nosotros te recomendamos,<br> tú decides.</h2>
        <br>

        <div class="row">
            <img class="col-lg-6 col-12" src="https://i.ibb.co/3BqPdW4/bloque-2.gif" alt="imagen recomendamos">
            <p class="col-lg-6 col-12 parole">En Scool queremos ayudarte a hacer realidad el futuro que siempre has imaginado. <br> Con nuestro sistema de recomendación personalizada, te orientaremos sobre cuál es la mejor opción educativa para ti en función de tus expectativas y posibilidades
                a través de una sencilla encuesta. <br> No obstante, creemos que cada persona debería tener la libertad de elegir su camino, por ello, además de nuestra recomendación tendrás total acceso a nuestros cursos para que puedas empezar a aprender
                desde donde creas conveniente.
            </p>
        </div>
    </section>
</div>
<div>
    <section id="futuro">
        <h2 class="littleTitle col-12">Elige tu futuro estés donde estés.</h2>
        <br>
        <img class="d-block col-12" src="https://i.ibb.co/WHHbHn0/bloque-1.gif" alt="imagen futuro">
    </section>
</div>
<div class="row">
    <div class="col-lg-6 col-12">
        <section id="quienes-somos">
            <h2 class="littleTitle">¿Quiénes somos?</h2>
            <br>
            <p class="parole">Scool es un servicio de asesoramiento formativo personal enfocado a los trabajos del futuro. Una pequeña idea nacida en Madrid y con aplicabilidad en todo el mundo. <br><br> Nuestro equipo: <b>Víctor,
            Graham, Alexandra, Guillermo y Jorge</b>.
                <br><br>Somos cinco personas que piensan que el camino para conseguir grandes cosas es poder acceder a una gran formación sin ningún impedimento.
            </p>
        </section>
    </div>

    <div class="col-lg-6 col-12">
        <section id="que-hacemos">
            <h2 class="littleTitle">¿Qué hacemos?</h2>
            <br>
            <p class="parole">En Scool queremos acercar a cada persona la inmensa oferta formativa que existe actualmente en el mercado de manera individual y ordenada. <br> Hemos desarrollado un sistema de recomendación personalizada basada en distintos parámetros que
                pueden influir a la hora de tomar decisiones de este tipo para que el usuario pueda encontrar los recursos que mejor le sirvan sin que tenga que perder tiempo buscando y cribando todas las opciones existentes. <br> Somos la primera plataforma
                de aprendizaje individualizado y seguimiento de progreso personal de internet.
            </p>
        </section>
    </div>

    <button id="btn-empecemos" class="btn-forma btn-color" routerLink="/register-form">Empecemos</button>
